* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */ 
header {
    background-color: #1d0b23;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

header img {
    width: 1.8rem;
    height: auto;
    margin-top: 0.2rem;
    margin-right: 1.5rem;
}
  
  /*Scroll arrow*/
  .scroll-to-top {
    z-index: 50;
    position: fixed;
    bottom: 15px;   
    right: 15px;   
    width: 2.2rem; 
    height: 2.2rem; 
    font-size: 20px; 
    background-color: #333; 
    opacity: 0.8;
    color: white; 
    padding: 2px;
    border-radius: 50%; 
    text-align: center; 
    text-decoration: none;
    transform: rotate(90deg);
}

/* Sidenav menu */
#mySidenav {
    height: 100%;
    width: 16rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: -20rem;
    background: linear-gradient(135deg, #3533cd, #25003c, #4f0055);
    border-radius: 0px 20px 20px 0px;
    font-size: 1.5rem;
    padding-top: 5rem;
    transition: left 0.5s ease;
  }
  #mySidenav.active {
    left: 0;
  }
  
  /* Sidenav menu links */
  #mySidenav a {
    margin-bottom: 1.5rem;
    margin-left: 3rem;
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
  }
  #project_burger_arrow{
    position: absolute;
    font-size: 1.2rem;
    right: 6rem;
    top: 11.5rem;
    color: white;
    transform: rotate(-90deg);
  }
  .project_burger_list {
    margin-top: 2rem;
    font-size: 1rem;
    margin-left: 2rem;
  }
  
  #mySidenav nav {
    list-style-type: none;
    z-index: 200;
  }
  
  /* Close btn */
  #mySidenav #closeBtn {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 3rem;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    border-radius: 50px;
    width: 30px;
    height: 0.1rem;
    background-color: white;
    margin: 7px 0;
    margin-left: 1.5rem;
  }
  

  /*homepage landing*/
  .homepage {
    color: white;
  }
  .homepage img {
    object-fit: cover;
    width: 100%;
    height: 85vh;
    z-index: -1;
  }
  .homepage h1 {
    position: absolute;
    font-weight: bold;
    white-space: nowrap;
    font-size: 2.8rem;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .homepage h2 {
    position: absolute;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 100;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d5d5d5;
    letter-spacing: 2px;
  }
  .homepage_info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    bottom: -3rem;
  }
  .homepage_info p {
    white-space: nowrap;
    font-size: 0.7rem;
    padding: 0 0.6rem;
  }

  .homepage_info img {
    margin-top: 5rem;
    width: 110px;
    height: auto;
    z-index: 10;
  }
  
  /* carousel */
  .carousel {
    position: relative;
    height: auto;
    font-size: 0.7rem;
    overflow: hidden;
    margin-top: -0.2rem;
  }
  .carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-out;
  }
  .carousel-item {
    min-width: 100%;
  }

  /* carousel header */ 
  .carousel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e4ff;
    height: 4rem;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 2rem;
    z-index: 5;
    position: relative;
  }
  .carousel_title {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-left: 0.6rem;
  }
  .carousel_header hr {
    background: linear-gradient(to right, #000000, #3533cd);
    width: 5rem;
    height: 0.2rem;
    border: none;
    margin-top: -1rem;
  }
  .carousel_header a {
    text-decoration: none;
    color: #000000;
    border: 2px solid black;
    padding: 0.4rem;
    border-radius: 8px;
    margin-right: 0.8rem;
  }

/* carousel body */
.carousel_body {
  position: relative;
  color: white;
  width: 70%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.carousel_body_text{
  background-color: #181531;
  padding: 1rem;
}
.carousel_body p {
  font-size: 0.6rem;
}
.carousel_body a {
  font-size: 0.6rem;
}

/*Slide boutton*/
.input_carousel[type="radio"] {
  display: none;
}
.input_carousel:nth-of-type(1):checked ~ .carousel-inner {
  transform: translateX(0%);
}
.input_carousel:nth-of-type(2):checked ~ .carousel-inner {
  transform: translateX(-100%);
}
.input_carousel:nth-of-type(3):checked ~ .carousel-inner {
  transform: translateX(-200%);
}

/* nav arrow */
.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 15px;
}
.carousel-control:hover {
  background-color: #a0a0a0;
  border-radius: 10px;
}
.carousel-control.prev {
  left: 0;
}
.carousel-control.next {
  right: 0;
}

/* timeline */
.timeline {
position: relative;
padding-left: 3rem;
}

.timeline_item {
display: flex;
align-items: center;
margin-bottom: 1rem;
position: relative;
left: 50%;
transform: translateX(-50%);
max-width: 15rem;
height: 9rem;
}

.timeline_circle {
width: 80px;
height: 20px;
background-color: black;
border-radius: 50%;
position: relative;
left: -2rem;
z-index: 2;
}

.timeline_content {
padding: 15px;
border-radius: 6px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.timeline_content1 {
  background-color: #03004b;
}
.timeline_content2 {
  background-color: #25003c;
}
.timeline_content3 {
  background-color: #4f0055;
}
.timeline_line {
  height: 10rem;
  width: 0.4rem;
  position: absolute; 
  left: -1.55rem;
  z-index: 1;
}

.section_header {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e6e4ff;
  height: 4rem;
  font-weight: bold;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.7rem;
  z-index: 5;
}
.section_header h3{
  margin-left: 0.6rem;
}
.section_header hr{
  background: linear-gradient(to right, #000000, #3533cd);
  width: 5rem;
  height: 0.2rem;
  border: none;
  margin-left: 0.6rem;
}

.project_section_body {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #1d0b23;
  margin-bottom: 5rem;
  border-radius: 0px 0px 10px 10px;
}

.project_section_body section {
  height: 18rem;
  width: 65%;
  background: linear-gradient(135deg, #3533cd, #25003c, #4f0055);
  color: white;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}
.project_section_body section:nth-child(4) {
  margin-bottom: 6rem;
}

.project_section_body img {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  opacity: 0.1;
}

.project_section_body h3 {
  position: relative;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
}



.contact_section_body {
  display: flex;
  height: 50vh;
  flex-direction: column;
  background-color: #1d0b23;
  color: white;
}

.contact_section_body h3 {
  position: relative;
  top: 2rem;
  left: 2rem;
  width: 90%;
}

.contact_section_body p {
  position: relative;
  width: 90%;
  top: 4rem;
  left: 2rem;
  margin-bottom: 2rem;
}